.DragArea {
  position: relative;
}

.DragArea.dragging {
  overflow: hidden;
  user-select: none;
}

.DragArea__item {
  display: inline-block;
  cursor: grabbing;
  position: absolute;
  z-index: 1;
}