.Hex {
  position: relative;
}

.Hex__left {
  content: '';
  height: 0;
  left: -50%;
  position: absolute;
  top: 0;
  width: 0;
  border-style: solid;
}

.Hex__right {
  content: '';
  height: 0;
  position: absolute;
  right: -50%;
  top: 0;
  width: 0;
  border-style: solid;
}

.Hex__content {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: -50%;
  position: absolute;
  right: -50%;
  top: 0;
}
